<div class="header-text md:px-24 px-8">
  <h1 class="text-5xl md:text-6xl font-extrabold">
    Hi, I'm <span style="color:#ff004f">Ethan,</span>
    <br /> an aspiring <span class="typewriter"></span>
    <br />from Boston
  </h1>
</div>

<style>
  .header-text {
    margin-top: 15%;
    font-size: 30px;
    display: flex;
  }
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #ff004f;
    font-family: "Poppins", sans-serif;
    animation: blink-caret 0.5s step-end infinite;
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #ff004f;
    }
  }

  h1 {
    margin-bottom: 25%;
  }
</style>

<script>
  const roles: string[] = [
    "Software Developer",
    "Triathlete",
    "Business Owner",
    "Baker",
    "Video Editor",
  ];

  const typewriterElement = document.querySelector(
    ".typewriter"
  ) as HTMLSpanElement;

  let currentIndex = 0;

  function typeRole(role: string) {
    typewriterElement.textContent = ""; // Clear the text
    let i = 0;
    const typingInterval = setInterval(() => {
      typewriterElement.textContent += role[i];
      i++;
      if (i === role.length) {
        clearInterval(typingInterval);
        setTimeout(() => eraseRole(), 2000);
      }
    }, 100);
  }

  function eraseRole() {
    const currentRole = typewriterElement.textContent;

    if (!currentRole) {
      return;
    }

    let i = currentRole.length;
    const erasingInterval = setInterval(() => {
      typewriterElement.textContent = currentRole.substring(0, i - 1);
      i--;
      if (i === 0) {
        clearInterval(erasingInterval);
        currentIndex = (currentIndex + 1) % roles.length;
        typeRole(roles[currentIndex]);
      }
    }, 50);
  }

  typeRole(roles[currentIndex]);
</script>
